* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(206, 201, 201, 0.2);
}

.box {
    display: flex;
    flex-direction: column;
}

.box--container {
    width: 1200px;
    margin: 0 auto;
}

.box__header {
    display: flex;
    flex-direction: column;

}

.box__header-heading {
    text-align: center;
    margin: 30px 0 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2f2f51;
}

.box__navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 37px;
}

.box__navigation-option {
    margin-right: 20px;
    width: 131px;
    height: 39px;
    background-color: rgba(245, 241, 241, 0.1);
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2f2f51;
}

.box__navigation-option_hover:hover {
    background: #ef7f04;
    border-radius: 3px;
    color: white;
}

.box__specific {
    display: flex;
    background: white;
}

.box__image {
    width: 50%;
}

.box__specific-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 30px 0 0 60px;
    width: 50%;
}

.box__specific-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #ef7f04;
}

.box__specific-text {
    width: 390px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: black;
}

.box__specific-params {
    width: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #2f2f51;
}


