html {
    font-size: 30px;
}

.columns {
    margin: 20px;
    border: 1px solid rgba(11, 20, 143, 0.5);
    border-radius: 20px;
}

p {
    margin-left: 22px;
    width: 48%;
    display: inline-block;
    text-align: justify;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    color: #080884;
}

.page_height {
    margin: 20px;
    padding: 20px;
    height: 92vh;
    text-align: center;
    font-size: 13rem;
    border: 1px solid red;
    border-radius: 40px;
}

div {
    font-size: 0.7em;
}



